body {
    background-color: #b7bcb9;    
}


h1 {
    color: #677b3e;
    font-size: 50px;
    text-align: center;
}

p{
    color: #2c3546;
    font-size: 30px;
    text-align: justify;
}

img {
    padding: 30px;
    width: 400px;
    height: 300px;
    border-radius: 15px;
   
}

.logo {
    width: 100px;
    padding: 10px;
    height: 100px;
    border: 1rem double #677b3e;

}