body {
    background-color: #b7bcb9;
}

h1 {
    color: #677b3e;
    font-size: 50px;
    text-align: center;
}

p{
    color: #2c3546;
    font-size: 30px;
    text-align: justify;
}

img {
    padding-top: 30px;
    width: 500px;
    height: 400px;
    border-radius: 5px;
}

.logo {
    padding-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 15px;
}